body {
  background-color: #101010;
}

.bg-custom-black {
  background-color: #101010;
}

/* Wrapper - All pages */
.pagewrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.page-content {
  flex-grow: 1;
}
/* Navbar */
.custom-navbar {
  /* background-color: #313132; */
}

.custom-navbar .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  border-radius: 0;
  transition: box-shadow .15s ease-in-out;
}
.hamburger-box {
  width: 21px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 21px;
  height: 1px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 2px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc72c;
}